html, body {
  height: 100%;
  width: 100%;
  background-color: #E8DFCA;
}

/*MAIN HOME PAGE*/

.mapcontent .map {
/*   position: absolute; */
  width: 100%;
  height: 524px;
  left: 19%;
  bottom: 194px;
  padding-top: 10in;
  margin-top: 10in;

  background: #AEBDCA;
  border-radius: 45px;  
}

.maincontent .description {
  position: absolute;
  width: 1220px;
  height: 215px;
  left: 370px;
  top: 788px;

  background: #AEBDCA;
  border-radius: 45px;
}
